html {
  background: linear-gradient(to right, #159957, #155799);
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 48px;
}

h2 {
  text-decoration: underline;
  text-decoration-style: wavy;
}

h3 {
  text-decoration: underline;
}

#middle {
  display: flex; justify-content: center; align-items: center;
}

#tmiddle {
  text-align: center;
}
